# -------------------------
# Python / caches
# -------------------------
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
venv/
.venv/
env/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# ignore everything under data by default
data/**

# but allow data root and selected subfolders
!data/
!data/HResNew/
!data/2024/
!data/new_correct_data_from_FILIPA/

# allow all files/subfolders inside those subfolders
!data/HResNew/**
!data/2024/**
!data/new_correct_data_from_FILIPA/**

# keep README if needed
!data/README.md

# Extra safety (heavy files outside data/)
*.nc
*.h5
*.hdf5
*.mat
#*.npy
*.npz
*.parquet
*.feather
*.zarr/
#*.gslib
*.out
*.zip
*.7z
*.rar

# ML models
*.pt
*.pth
*.onnx
*.ckpt
*.joblib
*.pkl

# exceptions: keep everything versioned inside these data folders
!data/HResNew/**
!data/2024/**
!data/new_correct_data_from_FILIPA/**
